  $bgColorBtnPrimary: #2c2b2b;
  $bgColorBtnSecondary: #588af1;
  $bgColorBtnDisabled: #ebebeb;
  $bgColorBtnEqual: #588af1;
  $bgClearBtn: #ff0000;
  $textColorPrimary: #ffffff;
  $textColorBtnEqual: #ffffff;
  $textColorDisplayPrev: #808080;
  $textColorDisplayCurrent: #000000;
  $textColorError: #ff0000;
  $textColorSucced: #037b03;
  $borderColor: #b1b0b0;


